API_ID=12020321
API_HASH=78c1a220a998a69cb15397b9d8f1ec23
BOT_TOKEN=7993275748:AAFRtZbwazpViqK7I5G__7TKALOBt7ULPWI
LOGGER_ID=-1002778259790
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7495324168
STRING_SESSION=AQC3amEAxrVO8WX8-PLBAeD0GbryT_n34COMM9P4gzENts5ZUnwHO9_71vKewRFgfELP7gevbeEfBOFYwyK8fN5LxFz8BcPgscy32EibtHyZJ92MKbyuR4ukfH5yEs_BDMwlfLtBvZk4Hbf-bOiCdIkAy1SJCF-a4FHTOLL8ghnInv_pmxvyrA3OVWfXNSzfwCuwg6hXWlnTw8MOHaeKQFM6xI_HRoNRQBISvNcJyAgrB4I4BY8jmk3peelSNBB0BA6air14J8TRpUOkOqRb0ZKKMn5ebphSK1Xytp0O9IpnoXQq5f2Xnl5xvUqI9uOpMt38zLZLxbYtfwtobdv64-qC84039AAAAAHF5nrTAA